/* Popup container */
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Popup content */
.popup-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 40px; /* Rounded corners */
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px; /* Maximum width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  position: relative; /* Added for button positioning */
}

/* Close button */
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* OK button */
.ok-button {
  background-color: rgba(63, 81, 181, 0.5); /* Indigo with 50% opacity */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto; /* Center the button */
  font-size: 16px;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.ok-button:hover {
  background-color: rgba(63, 81, 181, 1); /* Indigo with full opacity on hover */
}

/* Testimonials */
